@keyframes hand-wave {
    0%      {margin-left: 0px; margin-bottom: 0px;}
    25%     {margin-left: -2px; margin-bottom: -2px;}
    50%      {margin-left: 0px; margin-bottom: 0px;}
    75%     {margin-left: 2px; margin-bottom: 2px;}
    100%      {margin-left: 0px; margin-bottom: 0px;}
}

.profile-layout {
    font-family : 'Nunito', sans-serif;
}

.hand-wave {
    font-size: 1.5em;
    animation-name: hand-wave;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.name-container {
    @media only screen and (max-width: 600px) {
        font-size: 1.55em;
    }
}